:root{
  --index-size: 40px;
}

.container {
  border-radius: var(--radius);
  background-color: #ccc;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: calc(var(--spacing) + calc(var(--index-size) / 2)) var(--spacing) var(--spacing);
}

.container.isAnswered {
  display: none;
}

.index{
  position: absolute;
  bottom: 100%;
  width: var(--index-size);
  height: var(--index-size);
  border-radius: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-display);
  background-color: var(--black);
  color: var(--white);
  transform: translate(-50%, 50%);
}


.alternatives{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.input{
  display: none;
}

.alternative {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.alternative:first-child {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.alternative:last-child {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.alternativeInner{
  display: block;
  padding: var(--spacing);
  background-color: #ddd;
  cursor: pointer;
}


