:root{
  --index-size: 40px;
}

.container {
  border-radius: var(--radius);
  border: 4px solid var(--black);
  background-color: var(--white);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: calc(var(--spacing) + calc(var(--index-size) / 2)) var(--spacing) var(--spacing);
  margin-top: calc(var(--index-size) / 2);
}

.container.isAnswered {
  animation: hide 1s forwards 1s;
}

.index{
  position: absolute;
  bottom: 100%;
  width: var(--index-size);
  height: var(--index-size);
  border-radius: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-display);
  background-color: var(--black);
  color: var(--white);
  transform: translate(-50%, 50%);
}

.name{
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.alternatives{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.input{
  display: none;
}

.alternative {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.alternative:first-child {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.alternative:last-child {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.alternativeInner{
  display: block;
  padding: var(--spacing);
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

.alternative:nth-child(even) .alternativeInner{
  background-color: var(--light-black);
}


.alternative .alternativeInner.isCorrect {
  background-color: var(--green);
}

.alternative .alternativeInner.isWrong {
  background-color: var(--red);
}

@keyframes hide {
  0% {
    transform: translateX(0) rotate(0deg);
    z-index: var(--z-index-above-all);
  }
  49% {
    z-index: var(--z-index-above-all);
  }
  50% {
    transform: translateX(-50%) rotate(-2deg);
    z-index: -1;
  }


  100% {
    z-index: -1;
    transform: translateX(0) rotate(0deg);
  }
}

