:root {
  --spacing: 16px;
  --radius: 20px;

  --black: #222;
  --green: #57b32c;
  --red: #ff4b2b;
  --light-black: #2f2f2f;
  --white: #fff;
  --transparent-dark: rgba(0, 0, 0, 0.5);

  --font-weight-regular: 400;
  --font-weight-semi-bold: 500;

  --font-family: arial rounded mt, arial, helvetica, sans-serif;


  --body-font-size: 18px;
  --body-line-height: 22px;
  --body-font-weight: var(--font-weight-regular);
  --heading-font-size: 20px;
  --heading-line-height: 25px;
  --heading-font-weight: var(--font-weight-regular);

  --font-size-display: 24px;

  --z-index-above-all: 1000;
}
